/*-- scss:defaults --*/

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
}

$font-family: "Atkinson Hyperlegible", sans-serif;

// Code blocks
$code-block-bg-alpha: 0.2;