/*-- scss:defaults --*/

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
}

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #242323;
$navbar-bg: #555252;
$sidebar-bg: #555252;

// Code blocks
// $code-block-bg-alpha: -.8;
$code-block-bg-alpha: -0.6;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;


/*-- scss:rules --*/

.layout-example {
  background: $gray-700;
}
